:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-background-color: #fff;
  --secondary-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --header-logo-color: #000;
  --header-line-color: #ececec;
  --portfolio-cards-border-color: #eeeeee;
  --background-image-color: rgba(47, 48, 58, 0.58);
  --background-feature-color: #f5f4fa;
  --social-icon-olor: rgba(175, 177, 184, 1);
  --normal-icon-color: #afb1b8;
  --primary-accent-color: #2196f3;
  --signature-background-color: rgba(47, 48, 58, 0.8);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --overlay-background-color: rgba(33, 150, 243, 0.9);
  --modal-background-color: rgba(0, 0, 0, 0.2);
  --color-comment-placeholder: rgba(117, 117, 117, 0.5);
  --footer-background-color: #2f303a;
  --hero-button-hover-color: #188ce8;
}

img {
  display: block;
}

/*=====Полный сброс некоторых дефолтных значений===*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", "Raleway", "Oleo Script", sans-serif;
  font-style: normal;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/*=====Хедер===*/
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}
.header-studio {
  color: var(--header-logo-color);
}
.nav-list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  list-style: none;
  letter-spacing: 0.02em;
}
.nav-link {
  text-decoration: none;
  color: inherit;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-link.current {
  color: var(--accent-color);
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link.current::after {
  position: absolute;
  left: 0;
  bottom: -0.3px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.header-contacts {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  list-style: none;
  letter-spacing: 0.02em;
  margin-left: auto;
  padding-left: 0;
  align-items: center;
}

.header-contacts .header-contacts-item + .header-contacts-item {
  margin-left: 50px;
}
.contacts-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--secondary-text-color);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid var(--header-line-color);
}

.nav-list-item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.icon-mail {
  margin-right: 10px;
  fill: currentColor;
}

.icon-mail:hover,
.icon-mail:focus {
  color: var(--accent-color);
}

/* ГЛАВНАЯ СТРАНИЦА */
/* Герой */
.hero {
  text-align: center;
  background-color: #2f303a;
  color: var(--primary-background-color);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      var(--background-image-color),
      var(--background-image-color)
    ),
    url(../images/Img.jpg);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
}

.hero-button {
  display: inline-block;
  border: none;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  cursor: pointer;
  letter-spacing: 0.06em;
  padding: 10px 32px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
}

/* Особенности */

.feature {
  width: 270px;
  height: 120px;
  background-color: var(--background-feature-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.features-header {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.section {
  padding-top: 94px;
}

.features-section {
  padding-bottom: 47px;
}

.features-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-item {
  max-width: 270px;
}

/* Чем мы занимаемся */
.work-header {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.work-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.work {
  padding-top: 47px;
  padding-bottom: 94px;
}

.work-item {
  display: list-item;
  text-align: -webkit-match-parent;
  position: relative;
}

.signature {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 0;
  background: var(--signature-background-color);
  color: var(--primary-background-color);
}

/* Наша команда */
.my-team {
  background-color: var(--secondary-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
  margin-right: auto;
  margin-left: auto;
}

.my-team-header {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.my-team-list {
  list-style: none;
  display: flex;
}
.my-team-worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}
.my-team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.my-team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  justify-content: space-between;
}

.my-team-item:not(:last-child) {
  margin-right: 30px;
}

.my-team-item .card-inf {
  padding: 30px 32px;
  text-align: center;
}

.social-list {
  display: flex;
  list-style: none;
  padding: 0;
}
.social-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  fill: var(--normal-icon-color);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--primary-accent-color);
  fill: var(--primary-background-color);
}

/* Наши клиенты */

.clients {
  margin-right: auto;
  margin-left: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-customer {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.customer-list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.customer-item:not(:last-child) {
  margin-right: 30px;
}
.customer-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: rgba(175, 177, 184, 1);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.customer-link:hover,
.customer-link:focus {
  background-color: var(--primary-background-color);
  fill: var(--primary-accent-color);
  border: 1px solid var(--primary-accent-color);
}

/* ПОРТФОЛИО */
/* Фильтр */
.filter-list {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-list {
  list-style: none;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--secondary-background-color);
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.filter-list > .filter-list-item + .filter-list-item {
  margin-left: 8px;
}

.filter-item:hover,
.filter-item:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.filter-list-item {
  display: list-item;
  text-align: -webkit-match-parent;
}

.portfolio-list-link {
  display: block;
  cursor: pointer;
  text-decoration: none;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.portfolio-list-link:focus,
.portfolio-list-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: var(--transition-duration);
  transition: var(--transition-timing-function);
}

/* Галерея */

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 100%;
  overflow: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
  background: var(--overlay-background-color);
  padding: 63px 24px;
  transform: translateY(100%);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.portfolio-list-link:hover .overlay-text,
.portfolio-list-link:focus .overlay-text {
  transform: translateY(0);
}

.portfolio-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-item {
  margin-top: 30px;
  margin-left: 30px;
  max-width: 370px;
}

.item-header {
  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);
}
.item-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

.item-header {
  margin-bottom: 4px;
}

.portfolio-list .portfolio-item-top {
  padding: 20px 24px;
  border-right: 1px solid var(--portfolio-cards-border-color);
  border-bottom: 1px solid var(--portfolio-cards-border-color);
  border-left: 1px solid var(--portfolio-cards-border-color);
}

/* Футер */

.link {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-background-color);
}
.footer-studio {
  color: var(--primary-background-color);
}
.footer-list {
  list-style: none;
  padding-left: 0px;
}
.address .link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.footer-list-item {
  display: list-item;
  text-align: -webkit-match-parent;
}

.footer-list .footer-list-item + .footer-list-item {
  margin-top: 9px;
}

.footer-container-links {
  display: flex;
  align-items: baseline;
}

.footer-container {
  margin-right: 70px;
}

.footer-social-link {
  margin-right: 93px;
}

.social-links-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

.footer-social-list {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  fill: #fff;
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--primary-accent-color);
}

.subscription-form {
  margin-left: 93px;
}
.name {
  display: block;
}
.title-form {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-background-color);
}

/*Форма*/
.subscribe-header {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--primary-background-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.subscribe-wrapper {
  display: flex;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  padding: 0 0 0 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--primary-background-color);
  background-color: var(--footer-backgroung-color);
  transition: filter var(--transition-duration)
    var(--transition-timing-function);
  cursor: pointer;
}

.subscribe-input::placeholder {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 0 0 0 29px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  text-align: start;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--primary-accent-color);
  cursor: pointer;
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}

.telegram-icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--hero-button-hover-color);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}
/*Модальное окно*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-background-color);
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: 0;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: var(--primary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  transition: var(--transition-timing-function) var(--transition-duration);
}

.modal-close-btn:focus,
.modal-close-btn:hover {
  fill: var(--primary-accent-color);
}

.modal-form-head {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: var(--header-logo-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-field {
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.01em;

  color: #757575;
}

.modal-form-comment {
  resize: none;
  display: block;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
  cursor: pointer;
  margin-top: 4px;
}

.modal-form-comment::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--color-comment-placeholder);
}

.modal-form-comment:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-checkbox-policy::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  border: 2px solid #000;
  cursor: pointer;
  margin-right: 7px;
}

.modal-form-checkbox:checked + .modal-form-checkbox-policy::before {
  background-color: var(--accent-color);
  background-image: url(../images/icon\ check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--primary-accent-color);
}
.modal-form-checkbox-policy {
  font-family: Roboto;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;

  color: #757575;
}

.modal-form-btn {
  display: inline-block;
  border: none;
  align-self: center;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  cursor: pointer;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}

.modal-form-btn:focus,
.modal-form-btn:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form-policy-link {
  color: var(--primary-accent-color);
}
