.clients {
  margin-right: auto;
  margin-left: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-customer {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.customer-list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.customer-list__item:not(:last-child) {
  margin-right: 30px;
}
.customer-list__link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: rgba(175, 177, 184, 1);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--primary-background-color);
    fill: var(--primary-accent-color);
    border: 1px solid var(--primary-accent-color);
  }
}
