.portfolio-list {
  list-style: none;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list-link {
  display: block;
  cursor: pointer;
  text-decoration: none;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: var(--transition-duration);
    transition: var(--transition-timing-function);
  }
  &:hover .overlay-text,
  &:focus .overlay-text {
    transform: translateY(0);
  }
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 100%;
  overflow: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
  background: var(--overlay-background-color);
  padding: 63px 24px;
  transform: translateY(100%);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.portfolio-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-item {
  margin-top: 30px;
  margin-left: 30px;
  max-width: 370px;
}

.item-header {
  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);
}
.item-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

.item-header {
  margin-bottom: 4px;
}

.portfolio-list .portfolio-item-top {
  padding: 20px 24px;
  border-right: 1px solid var(--portfolio-cards-border-color);
  border-bottom: 1px solid var(--portfolio-cards-border-color);
  border-left: 1px solid var(--portfolio-cards-border-color);
}
