:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-background-color: #fff;
  --secondary-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --header-logo-color: #000;
  --header-line-color: #ececec;
  --gallery-cards-border-color: #eeeeee;
  --background-image-color: rgba(47, 48, 58, 0.58);
  --background-feature-color: #f5f4fa;
  --social-icon-olor: rgba(175, 177, 184, 1);
  --normal-icon-color: #afb1b8;
  --primary-accent-color: #2196f3;
  --signature-background-color: rgba(47, 48, 58, 0.8);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --overlay-background-color: rgba(33, 150, 243, 0.9);
  --modal-background-color: rgba(0, 0, 0, 0.2);
  --color-comment-placeholder: rgba(117, 117, 117, 0.5);
  --footer-background-color: #2f303a;
  --hero-button-hover-color: #188ce8;
}
